# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/build/
android/app/build/
android/**/captures/
android/.cxx/

# Flutter generated / ephemeral
**/ephemeral/
**/.plugin_symlinks/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
